<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="StagecraftOrganizingService.StagecraftOrganizingService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/StagecraftOrganizingService/StagecraftOrganizingService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding" contract="StagecraftOrganizingService.IStagecraftOrganizingService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding" 
						 maxReceivedMessageSize="67108864"
						 maxBufferPoolSize="67108864"
						 closeTimeout="00:00:10"
						 openTimeout="00:00:10"
						 receiveTimeout="00:20:00"
						 sendTimeout="00:01:00">
          <security mode="None">
          </security>
          <readerQuotas maxArrayLength="67108864"
								  maxBytesPerRead="67108864"
								  maxStringContentLength="67108864"/>
          <reliableSession  inactivityTimeout="00:20:00"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
   <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>
